{% extends  'base.html' %}
{% load static %}
{% block title %}Automóvel{% endblock %}
{% block css_cdn %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-auto.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.material.min.css"/>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="">
            <br>
            <br>
            <table class="" id="datatables" class="mdl-data-table">
                <thead>
                <tr>
                    <th>Dono</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Matricula</th>
                    <th>Data Matricula</th>
                    <th>CO</th>
                    <th>Cartrack</th>
                    <th>Combustivel</th>
                    <th>Prestação</th>
                    <th class="editar-th">Acção</th>
                </tr>
                </thead>
                </thead>
                <tfoot>
                <tr>

                </tr>
                </tfoot>
            </table>

            <!-- Edit Modal -->
            <div id="edit-automovel" class="modal modal-fixed-footer">
                <form role="form">
                    <div class="modal-content">
                        <p class="center" id="modal_title"></p>

                        <div class="form-group">
                            <label for="dono">Dono</label>
                            <input type="text" class="form-control" id="dono" name="dono"
                                   placeholder="Introduz o estado"
                                   required="true">
                        </div>
                        <div class="form-group">
                            <label for="matricula">Matricula</label>
                            <input type="text" class="form-control" id="matricula" name="matricula"
                                   placeholder="Introduz a matricula" required="true">
                        </div>

                        <div class="form-group">
                            <label for="marca">Marca</label>
                            <input type="text" class="form-control" id="marca" name="marca"
                                   placeholder="Introduz o marca" required="true">
                        </div>
                        <div class="form-group">
                            <label for="modelo">Modelo</label>
                            <input type="text" class="form-control" id="modelo" name="modelo"
                                   placeholder="Introduz o modelo" required="true">
                        </div>
                        <div class="form-group">
                            <label for="data_matricula">Data Matricula</label>
                            <input type="date" id="data_matricula" name="data_matricula"
                                   placeholder="Introduz a data da matricula" required="true">
                        </div>
                        <div class="form-group">
                            <label for="co">CO</label>
                            <input type="text" class="form-control" id="co" name="co"
                                   placeholder="Introduz o co" required="true">
                        </div>
                        <div class="form-group">
                            <label for="fim_prestacao">Fim Prestação</label>
                            <input type="date" id="fim_prestacao" name="fim_prestacao"
                                   placeholder="Introduz o fim de prestação" required="true">
                        </div>
                        <div class="form-group">
                            <label for="prestacao">Prestação</label>
                            <input type="text" id="prestacao" name="prestacao"
                                   placeholder="Introduz a prestação" required="true" step="any">
                        </div>
                        <div class="form-group">
                            <label for="validade">Validade</label>
                            <input type="date" id="validade" name="validade"
                                   placeholder="Introduz a validade" required="true">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <div class="center">
                            <button type="submit"
                                    class="modal-close btn waves-effect waves-light brown darken-1 b-radius">
                                Submeter<i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
{% block js_cdn %}
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.material.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script type="text/javascript">
        window.CSRF_TOKEN = "{{ csrf_token }}";
        {% comment %} $(document).ready(function () {

             $("#automovel_table").dataTable({
                 "language": {
                     "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese.json"
                 },
                 columnDefs: [
                     {
                         targets: [0, 1, 2],
                         className: 'mdl-data-table__cell--non-numeric'
                     }
                 ],
             });

         });
 {% endcomment %}

        let table = $('#datatables').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "/api/automovel/",
                "type": "GET"
            },
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese.json"
            },
            "columns": [
                {"data": "dono"},
                {"data": "matricula"},
                {"data": "marca"},
                {"data": "modelo"},
                {"data": "data_matricula"},
                {"data": "co"},
                {"data": "fim_prestacao"},
                {"data": "prestacao"},
                {"data": "validade"},
                {
                    "data": null,
                    "defaultContent": '<a id="edit-modal-btn" class="btn-floating btn-small waves-effect waves-teal btn-flat modal-trigger" href="#edit-automovel"><i class="material-icons">edit</i></a>',

                }
            ]
        });

        let id = 0;

        $('#datatables tbody').on('click', 'a', function () {
            let data = table.row($(this).parents('tr')).data();
            let auto_id = $(this).attr('id');
            if (auto_id == 'edit-modal-btn') {
                // EDIT button
                $('#dono').val(data['dono']);
                $('#matricula').val(data['matricula']);
                $('#marca').val(data['marca']);
                $('#modelo').val(data['modelo']);
                $('#data_matricula').val(data['data_matricula']);
                $('#co').val(data['co']);
                $('#fim_prestacao').val(data['fim_prestacao']);
                $('#prestacao').val(data['prestacao']);
                $('#validade').val(data['validade']);
                $('#type').val('edit');
                $('#modal_title').text('EDITAR AUTOMÓVEL');
            }

            id = data['id'];

        });

        $('form').on('submit', function (e) {
            e.preventDefault();
            let $this = $(this);
            let type = $('#type').val();
            let method = 'PUT';
            let url = '/api/automovel/';

            // edit
            url = url + id + '/';

            $.ajax({
                url: url,
                headers: {"X-CSRFToken": $.cookie("csrftoken")},
                method: method,
                data: $this.serialize(),
                success: function (data) {
                    M.toast({
                        html: 'Dados alterados   <i class="material-icons">done</i>',
                        classes: 'rounded toast-element'
                    });
                    setTimeout(function () {
                        location.reload();
                    }, 1500);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR)
                },
            })
        });

    </script>
{% endblock %}
