{% extends 'base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block content %}
    <style>
        .tabs .indicator {
            position: absolute;
            bottom: 0;
            height: 3px;
            background-color: #bdbdbd;
            will-change: left, right;
        }

        .tabs .tab a {
            color: #9E9E9E;
        }

        table.highlight > tbody > tr:hover {
            background-color: #cfd8dc;
        }

        .datepicker {
            max-width: 100px;
        }

        .select-dropdown span {
            color: #333 !important;
        }

        .pendente {
            border: 2px solid #e57373;
            background-color: transparent !important;
            color: #333 !important;
            webkit-transition: color .28s ease, background-color .28s ease;
            transition: color .28s ease, background-color .28s ease;
        }

        .pendente:hover, .pendente:active, .pendente:focus, .pendente.active {
            background-color: #e57373 !important;
            color: white !important;
            text-shadow: 0 0 2px black;
            transition: background-color 3s;
            transition: border 3s;
        }

        .concluido {
            border: 2px solid #81c784;
            background-color: transparent !important;
            color: #333 !important;
            webkit-transition: color .28s ease, background-color .28s ease;
            transition: color .28s ease, background-color .28s ease;
        }

        .concluido:hover, .concluido:active, .concluido:focus, .concluido.active {
            background-color: #81c784 !important;
            color: white !important;
            text-shadow: 0 0 2px black;
        }

        .tabs .tab a:hover, .tabs .tab a.active {
            background-color: initial;
            color: initial;
        }

        .tabs .tab a:focus, .tabs .tab a:focus.active {
            background-color: initial;
            outline: none;
            color: initial;
        }

        .collection-title {
            font-size: 1rem !important;
            font-weight: bold;
        }

        #tabs-swipe-demo li:first-child {
            margin-left: 10px !important;
        }

        #criar-sd {
            outline: none !important;
            min-height: 490px !important;
            min-width: 50%;
        }

        #criar-sd input {
            height: 32px !important;
        }

        #criar-sd textarea {
            min-height: 20px !important;
        }

        #criar-sd .row {
            margin-bottom: 0px;
        }

        #criar-sd .modal-content {
            padding-top: 10px;
        }
    </style>
    <div class="row">
        <div class="section">
            <div class="col m6">
                <form method="GET" class="">
                    <div class="row">
                        {% for field in filter.form %}
                            {% if field.label == "Co" %}
                                <div class="input-field col s3">{{ field }}</div>
                            {% else %}
                                <div class="input-field col s4">{{ field }}</div>
                            {% endif %}
                        {% endfor %}
                        <div class="input-field col s2">
                            <button type="submit" class="btn btn-small waves-effect brown darken-1 b-radius">Pesquisar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <ul id="tabs-swipe-demo" class="tabs">
                <li class="tab col s3"><a class="active pendente" href="#pendentes">Pendentes</a></li>
                <li class="tab col s3"><a href="#concluidos" class="concluido">Concluídos</a></li>
            </ul>
            <div id="concluidos" class="col s12">
                <div>
                    {% if filter.qs %}
                        <table class="striped highlight">
                            <thead>
                            <tr>
                                <th>Condutor</th>
                                <th>Automóvel</th>
                                <th>Serviço</th>
                                <th>Data</th>
                                <th>Km inicial</th>
                                <th>Km final</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for sd in filter.qs %}
                                <tr>
                                    <td>{{ sd.condutor.get_full_name }}</td>
                                    <td>{{ sd.automovel }}</td>
                                    <td>{{ sd.servico }}</td>
                                    <td>{{ sd.created_at }}</td>
                                    <td>{{ sd.km_inicial }}</td>
                                    <td>{{ sd.km_final }}</td>
                                    <td>
                                        <a class="btn-floating btn-small waves-effect waves-light indigo darken-1 tooltipped"
                                           href="{% url 'core:validar_servico_diario' sd.id %}?next={{ request.path|urlencode }}"
                                           data-position="bottom" data-tooltip="Validar serviço">
                                            <i class="material-icons">add</i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <br>
                        <br>
                        <p class="center">Pesquisa não encontrada</p>
                    {% endif %}
                </div>
            </div>

            <div id="pendentes" class="col s12">
                <div class="row">
                    <div class="col s4">
                        <ul class="collection">
                            <li class="collection-item"><h5 class="collection-title">Serviço</h5></li>
                            {% for x in servico_pendentes %}
                                <li class="collection-item">
                                    <div>{{ x.zona }} - {{ x.cliente }} - {{ x.nome }}</div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="col s4">
                        <ul class="collection">
                            <li class="collection-item"><h5 class="collection-title">Recurso Humano</h5></li>
                            {% for rh in rh_pendentes %}
                                <li class="collection-item">
                                    <div>{{ rh.numero_funcionario }} - {{ rh.nome_completo }}</div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="col s4">
                        <ul class="collection">
                            <li class="collection-item"><h5 class="collection-title">Automóvel</h5></li>
                            {% for auto in automovel_pendentes %}
                                <li class="collection-item">
                                    <div>{{ auto.marca }} - {{ auto.matricula }}</div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <!-- Edit Modal -->
        <div id="criar-sd" class="modal modal-fixed-footer">
            <form class="col s12" id="SD-form" method="Post">
                <div class="modal-content">
                    <p class="center" id="modal_title">CRIAR SERVIÇO DIÁRIO</p>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="id_funcionario" type="number" class="validate" required="true">
                            <label for="id_funcionario">Nº Funcionário</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="func_nome" disabled type="text" class="validate" value="--------">
                            <label for="func_nome">Funcionário Nome</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="auto_matricula" type="text" class="validate" required="true">
                            <label for="auto_matricula">Matricula</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="auto_modelo" disabled type="text" class="validate" value="--------">
                            <label for="auto_modelo">Modelo</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="sd_codigo_servico" type="text" class="validate" required="true">
                            <label for="sd_codigo_servico">Código do Serviço</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="sd_descricao_servico" disabled type="text" class="validate"
                                   value="--------">
                            <label for="sd_descricao_servico">Descrição do Serviço</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="sd_km_inicial" type="number" class="validate" required="true" value="0"
                                   min="0" max="9223372036854775807">
                            <label for="sd_km_inicial">Km Inicial</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="sd_km_final" type="number" class="validate" required="true" min="0"
                                   max="9223372036854775807">
                            <label for="sd_km_final">Km Final</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="sd_obs" class="materialize-textarea"></textarea>
                            <label for="sd_obs">OBS</label>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="center">
                        <button type="submit"
                                class="btn waves-effect waves-light brown darken-1 b-radius criar-sd-btn">
                            Submeter<i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light brown darken-1 modal-trigger tooltipped"
               href="#criar-sd"
               data-position="left" data-tooltip="Criar novo serviço diário"><i
                    class="material-icons">add</i>
            </a>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src=" {% static "/js/core-staff.js" %}">window.CSRF_TOKEN = "{{ csrf_token }}";</script>
{% endblock %}