{% extends 'base.html' %}
{% load static %}
{% block title %}Criar serviço{% endblock %}
{% block js %}
    {% static "/js/core-driver.js" %}
{% endblock %}
{% block content %}
    <style>
        #modal1 {
            outline: none !important;
            min-height: 480px !important;
        }

        #modal1 .modal-content {
            padding: 0 24px !important;
        }

        #finalizar-servico-modal {
            outline: none !important;
            max-height: 270px !important;
            max-width: 600px;
        }

        .modal .modal-footer button {
            margin: 0 auto !important;
            display: block !important;
        }

        .errorlist {
            color: #f93f3f;
        }

        #modal1 input {
            height: 25px !important;
        }

        #modal1 textarea {
            min-height: 20px !important;
        }

        @media only screen and (max-width: 992px) {
            table.responsive-table th {
                display: block;
                text-align: initial;
            }
        }

        @media only screen and (max-width: 500px) {
            #modal1 {
                outline: none !important;
                min-height: 450px;
                min-width: 300px;
            }

            #modal1 input {
                height: 20px;
            }

            #modal1 textarea {
                min-height: 25px !important;
            }

        }
    </style>
    <div class="container">
        <div class="section">

            <!--   Icon Section   -->
            <div class="row">
                <div>
                    <p class="center">SERVIÇO DIÁRIO</p>

                    {% if servico_diario %}
                        <table class="striped responsive-table">
                            <thead>
                            <tr>
                                <th>Serviço</th>
                                <th>Matricula</th>
                                <th>Km inicial</th>
                                <th>Km final</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for sd in servico_diario %}
                                <tr>
                                    <td>{{ sd.servico.cliente }}/{{ sd.servico.nome }}</td>
                                    <td>{{ sd.automovel.matricula }}</td>
                                    <td>{{ sd.km_inicial }} km</td>
                                    <td>{{ sd.km_final }} km</td>
                                    <td style="width: 142px">
                                        <a href="#finalizar-servico-modal" class="modal-trigger servico-diario"
                                           onclick="finalizarServico('{{ sd.id }}', '{% url 'core:ajax_finalizar_servico' id=sd.id %}')">
                                            <span class="new badge brown darken-1 waves-effect waves-light btn b-radius"
                                                  data-badge-caption="Concluir serviço">
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            {% empty %}

                            {% endfor %}

                            </tbody>
                        </table>
                    {% else %}
                        <div class="collection">
                            <p class="collection-item black-text center">Sem serviço activo, por favor cria novo
                                serviço!
                            </p>
                        </div>
                    {% endif %}
                </div>

                <!-- Modal Structure -->
                <div id="modal1" class="modal modal-fixed-footer">
                    <form method="Post">
                        {% csrf_token %}
                        <div class="modal-content">
                            <p class="center">CRIAR SERVIÇO</p>
                            {{ form }}
                        </div>
                        <div class="modal-footer">
                            <button class="btn waves-effect waves-light brown darken-1 b-radius" type="submit" name="action">
                                Iniciar serviço
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>

                </div>

                <!-- Modal Structure for finalize trip-->
                <div id="finalizar-servico-modal" class="modal modal-fixed-footer">
                    <form method="POST" class="finalizar-servico-form" action="{% url 'core:inicio' %}">
                        {% csrf_token %}
                        <div class="modal-content">
                            <p class="center">CONCLUIR SERVIÇO</p>
                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="km_final">Kilometros finais:</label>
                                    <input name="km_final" min="0" max="9223372036854775807" required=""
                                           id="km_final_input" type="number">
                                    <span class="helper-text" data-error="wrong" data-success="right">*O serviço não pode ser concluído com valor inferior a kilometragem inicial</span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn waves-effect waves-light brown darken-1 b-radius" type="submit" name="action">Finalizar
                                serviço
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>

    <div class="fixed-action-btn">
        <!-- Modal Trigger -->
        {% if has_active_SD %}
            <a class="btn-floating btn-large waves-effect waves-light grey disabled-btn-sd"
               data-position="left"><i
                    class="material-icons">add</i>
            </a>
        {% else %}
            <a class="btn-floating btn-large waves-effect waves-light brown darken-1 modal-trigger tooltipped"
               href="#modal1"
               data-position="left" data-tooltip="Iniciar novo serviço diário"><i
                    class="material-icons">add</i>
            </a>
        {% endif %}
    </div>

{% endblock %}

