{% extends 'base.html' %}
{% load static %}
{% block title %}Minhas Viagens{% endblock %}

{% block content %}
    <style>
        .card .card-content {
            padding: 10px;
        }
    </style>

    <div class="container">
        <br>
        <div class="row">
            <div>
                <p class="center"><b>MINHAS VIAGENS</b></p>

                {% if servicos_diarios %}
                    {% for sd in servicos_diarios %}
                        <div class="col s12 m4">
                            <div class="card grey darken-1">
                                <div class="card-content white-text">
                                    <p>{{ sd.servico.cliente }}/{{ sd.servico.nome }}</p>
                                    <p>{{ sd.automovel.matricula }}</p>
                                    <p>Km inicial: {{ sd.km_inicial }}</p>
                                    <p>Km final: {{ sd.km_final }}</p>
                                    <p>Início: {{ sd.created_at|time:"H:i" }} de {{ sd.created_at|date:"d M Y" }}</p>
                                    <p>Término: {{ sd.finished_at|time:"H:i" }} de {{ sd.finished_at|date:"d M Y" }}</p>
                                </div>
                            </div>
                        </div>
                    {% empty %}

                    {% endfor %}
                {% else %}
                    <div class="collection">
                        <p class="collection-item black-text center">Serviços não disponiveis ou não concluído, por
                            favor cria novo
                            serviço!
                        </p>
                    </div>
                {% endif %}

            </div>

        </div>
        <br>
        {% if servicos_diarios %}
            <ul class="pagination">
                {% if servicos_diarios.has_previous %}
                    <a class="waves-effect waves-light btn brown darken-1 b-radius" href="?page=1">Primeira</a>
                    <li class="waves-effect"><a href="?page={{ servicos_diarios.previous_page_number }}"><i
                            class="material-icons">chevron_left</i></a></li>
                {% else %}
                    <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
                {% endif %}

                <li class="active red brown darken-1"><a href="#!">{{ servicos_diarios.number }}</a></li>

                <li><a> de </a></li>

                <li class="waves-effect">
                    <a href="?page={{ servicos_diarios.paginator.num_pages }}">{{ servicos_diarios.paginator.num_pages }}</a>
                </li>

                {% if servicos_diarios.has_next %}
                    <li class="waves-effect"><a href="?page={{ servicos_diarios.next_page_number }}"><i
                            class="material-icons">chevron_right</i></a></li>
                    <a class="waves-effect waves-light btn brown darken-1 b-radius"
                       href="?page={{ servicos_diarios.paginator.num_pages }}">Última
                    </a>
                {% else %}
                    <li class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
                {% endif %}

            </ul>
        {% endif %}
    </div>

{% endblock %}

