#datatables_length label select {
    display: inline-flex;
    width: 9% !important;
    height: 2rem !important;
}

#datatables_length label {
    display: block !important;

}

.mdl-grid {
    margin-bottom: 20px !important;
}

#datatables_filter {
    max-width: 250px;
    position: absolute;
    right: 0px;
    margin-right: 15px;
}

#datatables_filter input {
    height: 1.5rem !important;

}

table {
    margin-top: 20px;
    margin-bottom: 10px;
}

table.dataTable thead th, table.dataTable thead td, table.dataTable.no-footer {
    border-bottom: 0px !important;
}

#datatables tbody tr:hover {
    background-color: lavender;
}

#datatables tbody tr td .btn-floating i {
    color: #333;
}

#datatables tbody tr td .btn-floating i:hover {
    color: #fff !important;
}

#datatables tbody tr td .btn-floating:hover {
    background-color: #3f51b5;
}

tbody tr:last-child th:before, table.editar-th::after:last-child {
    content: none !important;
}

/*Elimina os icones th accao*/
thead tr th:last-child:before, thead tr th:last-child:after {
    content: none !important;
}

.mdl-button--raised.mdl-button--colored, .mdl-button {
    border-radius: 20px !important;
}

/*Elimina a fonte que o material sobrepoe*/
body, html {
    line-height: 1.5 !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
    font-weight: normal !important;
    color: #333 !important;
    font-size: 15px !important;
}

nav ul {
    font-size: unset !important;
    line-height: unset !important;
}

.mdl-grid {
    padding: 0px 10px !important;
}

.mdl-cell {
    margin: 0px !important;
}

.mdl-cell--12-col, .mdl-cell--12-col-desktop.mdl-cell--12-col-desktop {
    width: 100% !important;
}

nav .brand-logo img {
    vertical-align: unset !important;
}

#edit-automovel input {
    height: 25px !important;
}

#edit-automovel {
    outline: none !important;
    min-height: 480px !important;
}

.modal {
    width: 70%;
}